* {
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-family: 'Quicksand', sans-serif;
    color: #212529;
}
a {
    color: inherit;
    text-decoration: none;
}

/* HEADER STYLES */
.header_bar {
  display: flex;
}

.header_bar > nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.name {
    display: inline-block;
    padding: 15px;
    margin: 0;
    position: relative;

}

.right_corner {
    margin: 0;
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
}

.light_button, .dark_button, .js-more-button, .js-scroll-top {
    padding: 10px;
    margin-right: 30px;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
}

.light_button {
    background-color: #cfd8dc;
    color: #063b67;
}

.dark_button, .js-more-button, .js-scroll-top {
    background-color: #063b67;
    color: #ffffff;
}
.light_button:hover, .dark_button:hover, .js-more-button:hover, .js-scroll-top:hover {
    cursor: pointer;
    outline: 2px solid #063b67;
    color:#063b67;
    background-color: #f5f5f5;
}

/* BODY STYLES */
body {
    background-color: #f5f5f5;
}
.container{
    margin: auto;
}

.hero {
    max-width:100%;
}

.page-section{
    padding: 100px 0px;
    margin: 15px 0px;
}
#intro, #contact, #me{
    font-size: 1.25em;
  }

.intro-second-line{
    text-align: left;
}

.portfolio-img{
    width: 100%;
    height: auto;
}

.portfolio-des, .portfolio-img{
    margin: 30px 0px;
}

.title{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5em;
}

#intro, #contact {
    display: flex;
}

 #contact, #me{
      margin: auto;
  }
  #intro {
      margin: 40px auto auto auto;
      padding-top: 30px;
  }
  .intro {
    position: relative;
    width: 100%; /* for IE 6 */
 }

.contact-list{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.contact-list li{
    flex-basis: 4%;
    justify-content: space-between;
}
.icon {
    margin: 0 5px;
}
.hidden {
    display: none;
}

.more-section{
    margin-top: 40px;
}

span{
    font-size: 1.3em;
}

.js-more-button, .js-scroll-top{
    border: none;
    margin-right: 0px;
    float: right;
}
.js-more-button:focus, .js-scroll-top:focus{
    outline: 0;
}
.credits{
    color: #212529;
    font-size: 0.99em;
}
.showOnScroll {
    position: fixed;
    top:0;
    left:5px;
    right:5px;
    z-index: 5;
}
@keyframes changeLetter {
  0% {
    color: #1596af;  
    content: "  engineer";
  }
  
  25% {
      color: #1596af; 
      content: "  building creative solutions using technology";

  }
  50%{
    color: #1596af; 
    content: "  building responsive, mobile friendly applications";
  }
  75% {
      color: #1596af;
      content: "  building interactive web applications";
  }
  100% {
      color: #1596af; 
      content: "  full-stack developer";
  }
}

@-webkit-keyframes changeLetter {
  0% {
    color: #1596af;  
    content: "  engineer";
  }
  25% {
      color: #1596af; 
      content: "  building creative solutions using technology";

  }
  50%{
    color: #1596af; 
    content: "  building responsive, mobile friendly applications";

  }
  75% {
      color: #1596af;
      content: "  building interactive web applications";

  }
  100% {
      color: #1596af; 
      content: "  full-stack developer";
  }
}
.name::after {
    content: "";
    -webkit-animation: changeLetter 10s linear alternate;
    -moz-animation: changeLetter 10s linear alternate;
    -o-animation: changeLetter 10s linear alternate;
    animation: changeLetter 10s linear alternate;
    -webkit-animation-iteration-count: 1; 
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

/* Media queries */
@media (min-width: 1030px) {
    /* getting intro text in hero image on screen sizes above 1030px */
    .intro>.intro-first-line {
            position: absolute;
            top: 10px;
            opacity: 0.6;
            letter-spacing: -1px;
            padding: 10px;
            line-height: 90%;
            left: 16px;
    }
    .intro-second-line {
            position: absolute;
            top: 53px;
            opacity: 0.6;
            letter-spacing: -1px;
            padding: 10px;
            line-height: 90%;
    }
    .punc {
            opacity: 0.5;
            padding: 0 17px 0 10px;
    }
    .contact-list li{
            font-size: 0.9em;
    }
}

@media (max-width: 992px) {
    /* having intro text, both sentences show without line break */
    br { 
        content: ' '; 
    }
    span.intro-first-line, span.intro-second-line {
        font-size: 0.9em;
    }
    .contact-list span{
        display: none;
    }
}

@media (max-width:700px) {
    li.light_button, li.dark_button {
        max-width: 100%;
        height: 15%;
        text-align: center;
    }
    .js-more-button:hover, .js-scroll-top:hover {
        border: 2px solid #063b67;
        outline: none;
    }
    .light_button:hover, .dark_button:hover {
        border: none;
        outline: none;
        background-color:black;
        color: #cfd8dc;
    }
}

@media (max-width:600px){
    header>nav{
        flex-wrap: wrap;
        flex: 1;
        justify-content: space-between;
    }
    /* centering flex element */
    nav.col-xs-12{
        align-items: center;
        justify-content: center
    }
}

@media (max-width:539px){
    ul.right_corner{
        margin: auto;
    }
}

@media (max-width:385px) {
    .header_bar, nav, nav>a, ul>a {
        display: block;
    }
    ul.right_corner {
        padding-left: 0px;
        width: 100%;
        margin: 14px;
    }
    li.light_button, li.dark_button {
        width: 100%;
        margin: 0;
    }
}